__pycache__/
*.py[cod]
*$py.class

.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

config.yaml

rectangle-dispenser.db
rectangle-dispenser.db-shm
rectangle-dispenser.db-wal

legacy/

.pytest_cache
.vscode